PORT= 8000

DB_HOST= localhost
DB_PORT= 3306
DB_USERNAME= 
DB_PASSWORD= 
DB_NAME= diplom

SALT_OR_ROUNDS= 4

RESET_PASSWORD_SESSION_NAME= NAME OF THE SESSION FOR RESETING A USER РASSWORD
SESSION_SECRET= diplom
CLIENT_URL = http://localhost:3000/